<div class="container" fxLayout="column" fxLayoutAlign="start center">

  <mat-card>
    <mat-card-header fxLayout="column">
      <h2 style="margin:0px;">inhaus</h2>
      <p style="font-size:14px; margin:0px; font-weight:200;">Purpose : Landlord test</p>
    </mat-card-header>
    <mat-divider></mat-divider>
    <p style="margin-top:80px;">
      <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
    </p>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">

      <div formGroupName="landlordsName" fxLayout="column" fxLayoutAlign="center start">

        <!-- FIRST NAME -->
        <mat-form-field>
          <input name="firstName" formControlName="firstName" matInput placeholder="First name" autocomplete="off">
          <mat-error *ngIf="form.get('landlordsName.firstName').hasError('required')">
            A first name is required
          </mat-error>
        </mat-form-field>

        <!-- LAST NAME -->
        <mat-form-field>
          <input name="lastName" formControlName="lastName" matInput placeholder="Last name" autocomplete="off">
        </mat-form-field>
        <mat-error *ngIf="form.get('landlordsName.lastName').hasError('required')">
          A last name is required
        </mat-error>
      </div>

      <!-- EMAIL -->
      <mat-form-field>
        <input name="email" formControlName="email" matInput placeholder="email" autocomplete="off">
      </mat-form-field>

      <!-- SUBMIT FORM -->
      <button type="submit" [disabled]="!form.valid" mat-button>Add Landlord</button>
    </form>

  </mat-card>

  <!--<button routerLink="/landlordSignup" type="submit"  mat-button>signup</button>-->

  <mat-card *ngFor="let landlord of landlordArray" style="margin:20px 0px 0px 0px">
    <p>Landlord</p>
    <pre>{{landlord | json}}</pre>
  </mat-card>

</div>