<div class="container" fxLayout="column" fxLayoutAlign="center center">


  <mat-card>
    <mat-card-header fxLayout="column">
      <h1 style="margin:0px;">signage.ninja</h1>
      <p style="font-size:14px; margin:0px; font-weight:200;">Purpose : Sign up</p>
    </mat-card-header>
    <mat-divider></mat-divider>
    <!--<p style="margin-top:80px;">
        <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
      </p>-->

    <!--<mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>-->
    <mat-card-content>
      <form fxLayout="column" [formGroup]="form" (ngSubmit)="login()" autocomplete="off">

        <!--<div formGroupName="landlordsName" fxLayout="column" fxLayoutAlign="center start">
          <mat-form-field>
            <input name="firstName" formControlName="firstName" matInput placeholder="First name" autocomplete="off">
            <mat-error *ngIf="form.get('landlordsName.firstName').hasError('required')">
              A first name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input name="lastName" formControlName="lastName" matInput placeholder="Last name" autocomplete="off">
            <mat-error *ngIf="form.get('landlordsName.lastName').hasError('required')">
              A last name is required
            </mat-error>
          </mat-form-field>
        </div>-->


        <!-- EMAIL -->
        <mat-form-field>
          <input name="email" formControlName="email" matInput placeholder="email" autocomplete="off">
          <mat-error *ngIf="form.get('email').hasError('required')">
            An email address is required
          </mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <!-- PASSWORD -->
        <mat-form-field>
          <input name="password" type="password" formControlName="password" matInput placeholder="password" autocomplete="off">
          <mat-error *ngIf="form.get('password').hasError('required')">
            A password is required
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="signup()" type="submit" [disabled]="!form.valid" mat-button>Signup</button>
    </mat-card-actions>


  </mat-card>





</div>