
<div>
  <mat-toolbar fxLayout>
    <span class="menu-item-text menu-title">inhaus</span>
    <span fxFlex></span>
    <!--<button [routerLink]="['/signup']" class="menu-item-text" mat-button>Signup</button>-->
    <button class="menu-item-text" mat-button>Login</button>
    <!--<button   class="menu-item-text" mat-button>Login</button>-->
  </mat-toolbar>
</div>

<div class="header">

  <div [ngStyle]="{
  'background': 'linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('+photo+')',
  'background-size':cover,
  'background-position': center,
  'background-repeat': repeat,
  'height':height,
  'width':height
  }" class="unsplash-img"></div>

  <div fxLayout="column" fxLayoutAlign="center center" class="tag-line">

    <img width="70" src="/assets/SVG/Asset 3.svg" alt="">
    <h2 class="title-text">inhaus</h2>
    <!--<p class="description-text">The intelligent property management assistant for busy landlords and their tenants.</p>-->
    <p class="description-text">Simple property management for busy landlords and their tenants.</p>
    <!--<p class="description-subtext">Simple property managment for busy landlords and their tenants</p>-->
    <div>
      <!--<button [routerLink]="['/signup']" style="margin-right:5px;" class="get-started-button">Get Started</button>-->
      <button style="margin-left:5px;" [routerLink]="['/welcome']" class="get-started-button">Find out more</button>
    </div>

  </div>
</div>
<!--<div class="card-container">

  <mat-card class="example-card">

    <p class="intro-text">Can you help us by answering one question?</p>
 
    <p class="quest-text">How likely is it that you would use this  help to manage your property portfolio?</p>

    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column" fxLayoutAlign="start start">

      <mat-checkbox class="survey-question">I would definetly use it</mat-checkbox>
      <mat-checkbox class="survey-question">I might do</mat-checkbox>
      <mat-checkbox class="survey-question">I definately would not</mat-checkbox>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button>NO THANKS</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- werwer-->