@import "src/styles.scss";


.header{
    height:100%;
}

.tag-line{
    position: absolute;
    height:100%;
    width:100%;
    top:0px;
    color:white;
}
.title-text{
    font-size:58px;
    margin:0px;
    margin-bottom:15px;
    color:white;
    margin-top:30px;
    font-weight:600;
    font-family:$displayFont;
}
.description-text{
    font-weight:300;
    font-size:30px;
    margin:0px;
    text-align: center;
    max-width: 650px;
    text-shadow: 1px 1px 5px #2e2e2e;
    line-height:40px;
}
.description-subtext{
    text-align: center;
    margin-top:20px !important;
    width:600px;
    font-weight:100;
    font-size:14px;
    margin:0px;
}
.unsplash-img{
    height:100%;
}
.ih-icon{
    text-align:center;
    font-size:48px;
    height:48px;
    width:48px;
}

.menu-item-text{
    font-size:16px !important;
    font-weight:300 !important;
    letter-spacing: 0.5px !important;
    z-index:9999;
}
mat-toolbar{
    position:absolute;
    background:transparent !important;
    color:#fff !important;
}
.menu-title{
    margin-left:20px;
    font-weight:400 !important;
    font-size:24px !important;
}

.get-started-button{
    background-color:rgba(0,0,0,0.3);
    background-repeat: no-repeat;
    color:white;
    padding:15px 20px 15px 20px;
    margin-top:110px;
    font-weight: 400;
    border-radius: 40px;
    font-size: 18px;
    text-decoration: none;
    outline: none;
    border:1px solid rgb(227, 227, 227);
    width:170px;
}

.get-started-button:hover{
    cursor: pointer;
    color:cornflowerblue;
    border:1px solid white;
    background-color:rgba(255,255,255,0.85);
}
.card-container{
    position: absolute;
    bottom:0;
    right:0;
    margin:40px;
    opacity:0.9;
}

.example-card {
    max-width: 300px;
    border-radius: 10px !important;
    padding-top:0px;
    max-width:250px;
  }

  .mat-card-content{
      margin-top:40px;
      margin-bottom:40px;
      font-size:13px;
  }
  
.survey-question{
    margin-top: 5px;
    margin-bottom:5px;
}

.intro-text{
    text-align:left;
    font-size:16px;
    padding-top:20px !important;
    font-weight:700;
}

.quest-text{
    text-align:left;
    font-size:14px;
    color:blue;
    line-height: 19px;
    letter-spacing: 0.5px;
}
