<div *ngIf="landingPage" style="text-align:center;  padding:200px;">
    <h1 style="font-weight:200;font-size:42px; color:cornflowerblue;">Coming Soon</h1>
    <img width="120" src="/assets/SVG/logo2.svg" alt="">
    <!--<h1 style="margin-top:5px;" class="title-text; color:black !important;">inhaus</h1>-->
    <p style="font-weight:200; font-size:28px; color:rgb(145, 145, 145);">The intelligent property management assistant for busy landlords and their tenants.</p>
</div>

<router-outlet></router-outlet>