.container{
    height:100%;
    width:100%;

}
.page-container{
    //background-color: white;
    width:600px;
    margin-top:40px;
}
.mat-card{
   margin-bottom:15px;
   
}
.body-text{
    color:grey;
    font-weight:300;
    letter-spacing: 0.4px;
    line-height:22x;
    margin-top:0px;
    font-size: 13px;
}