@import "src/styles.scss";

.imgContainer{
    height:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    //mask-image: transparent 0%, black 99%;  
    background-repeat: no-repeat, repeat;
    //background-image: url("/assets/livingroom1.jpg");
    background-size:cover;
   
    background-position: center;
}

.header{
    height:100%;
}

.tag-line{
    position: absolute;
    height:100%;
    width:100%;
    top:0px;
    color:white;
}
.title-text{
    font-size:64px;
    margin:0px;
}
.description-text{
    font-weight:100;
    font-size:34px;
    margin:0px;
}


