
<div class="header">
    <mat-toolbar fxLayout>
        <span>inhaus</span>
        <span fxFlex></span>
        <span class="rhs-menu-item">Signup</span>
        <span class="rhs-menu-item">Login</span>
      </mat-toolbar>
  <div [ngStyle]="{
  'background': 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('+photo+')',
  'background-size':cover,
  'background-position': center,
  'background-repeat': repeat,
  'height':height,
  'width':height
  }" class="unsplash-img"></div>

  <div fxLayout="column" fxLayoutAlign="center center" class="tag-line">
    <mat-icon class="ih-icon">home</mat-icon>
    <!--<h2 class="title-text">inhaus</h2>-->
    <!--<p class="description-text">The app for landlords and tenants</p>-->
  </div>
</div>