@import "src/styles.scss";

.imgContainer{
    //height:200px;
    background-repeat: no-repeat, repeat;
    background-image: url("/assets/livingroom1.jpg");
    background-size:cover;
    height:100%;
    background-position: center;
    
    mask-image: transparent 25%, black 75%;    
}

.tag-line{
    font-weight:200;
    font-size:40px;
    color:#ffff;
    text-shadow: 1px 1px 4px #000;
    position: absolute;
    top:250px;
    text-align: center;
}



