@import "src/styles.scss";



.page {
    height: 100%;
    width: 100%; //background-color: white;
}

.container {
    height: 100%;
   
    background-color: white;
}

.header {
    background-color: rgb(192, 214, 253);
    width: 100%;
    
}

.header img {
    margin-top: 40px;
}

.title-text {
    font-size: 48px;
    margin: 0px;
    color: white;
    margin-top: 20px;
    font-weight: 600;
    font-family: $displayFont;
}

.launch-text-xs {
    margin-top: 30px !important;
    color: rgb(58, 58, 104);
    font-size: 28px;
    font-weight: 300;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:50px;
}


.launch-text{
    margin-top: 30px !important;
    color: rgb(58, 58, 104);
    font-size: 28px;
    font-weight: 300;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:50px;
}


.mat-radio-label>.mat-radio-label-content {
    white-space: normal;
    margin-left: 30px;
}

.checkbox-text-wrap {
    white-space: normal;
  }

.mat-radio-label>.mat-radio-container {
    position: absolute;
}

.right{
    color:cornflowerblue !important;
    margin-bottom:3px;
}

.click-here{
    font-weight:300;
    font-size:12px;
    text-align:left;
    margin-top:5px;
    color:#999;

}
.right-container{
    padding-right:40px;
    height:100% !important;
}

.left-container-xs {
    padding-left:20px !important;
    padding-right:20px !important;
    background-color: white;
    .section-title{
        text-align:left;
        margin-bottom:0px !important;
        margin:0px !important;
        font-size:17px;
    }
    .welcome-text {
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        line-height: 24px;
        color: rgb(105, 105, 105);
        color: rgb(71, 71, 71); //padding-left:20px;
    }
}

.left-container{
   padding-left:50px;
   padding-right:50px;
}

.section-title{
    text-align:left;
    margin-bottom:0px !important;
    margin:0px !important;
    font-size:20px;
}

.welcome-text {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    line-height: 28px;
    color: rgb(105, 105, 105);
    color: rgb(109, 109, 109); //padding-left:20px;
}


textarea{
    border:1px solid rgb(240, 240, 240);
    margin:0px !important;
    line-height:20px;
   
    outline:none;
    font-size:14px;
    font-weight:300;
    resize: none;
    //margin-right:5px !important;
}

.survey-container{
    height:100% !important;
}

.right-container-xs{
    
    background-color:rgb(250, 250, 250) !important;
    height:100%;
    width:100%;
    padding-right:0px !important;
    .survey-container {
        //background-color: white;
        padding:20px;
        height:100%;
    }
    .survey-card {
        border-radius: 10px !important;
        width:200px;
        overflow:hidden;
        overflow-wrap: normal;
    }
    .survey-answer {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .intro-text{
        padding-top:0px;
        font-size:18px;
    }
    .survey-question{
        text-align:left;
        font-weight:400;
        line-height: 18px;
        letter-spacing:0.3px;
        margin-bottom:0px;
       color:rgb(73, 74, 122);
    }
    textarea{
        border:1px solid rgb(240, 240, 240);
        margin:0px !important;
        line-height:20px;
        width:100% !important;
        outline:none;
        font-size:14px;
        font-weight:300;
        resize: none;
    }
    .click-here{
        font-weight:300;
        font-size:12px;
        text-align:left;
        margin-top:5px;
        color:#999;

    }
}








