<div class="container" fxLayoutAlign="center start">
  <div class="page">


    <div class="header">
      <img width="70" src="/assets/SVG/Asset 3.svg" alt="">
      <h2 class="title-text">inhaus</h2>
      <h3 style="color:white; letter-spacing:2px; margin:0px;">IN BETA</h3>
      <p ngClass.xs="launch-text-xs" class="launch-text">Stay tuned, we are launching very soon.
        <br>In the meantime ...</p>

    </div>

    <div fxLayout fxLayout.xs="column" fxLayout>
      <!-- left container text -->
      <div ngClass.xs="left-container-xs" class="left-container" fxFlex>
        <h4 class="section-title">We could really use your help.</h4>
        <p class="welcome-text">We are a small team of landlords and software engineers who couldn’t find any online property management platforms
          that were simple to use, reasonably priced, and had the features we needed. So we decided to build one ourselves.
        </p>
        <p class="welcome-text">We’re building a platform that will work for us and we want it to work for landlords like you too.</p>
        <p fxHide fxShow.gt-xs="true" class="welcome-text">We would really appreciate it if you could help us to build something worthwhile by answering the question opposite.</p>
        <p fxHide fxShow.lt-sm="true" class="welcome-text">We would really appreciate it if you could help us to build something worthwhile by answering the question below.</p>
        <p class="welcome-text">Thanks for your help!
          <br>inhaus</p>

      </div>
      <!-- right container survey -->
      <div ngClass.xs="right-container-xs" class="right-container" fxFlex>

        <div *ngIf="thankYou" class="survey-container" fxLayoutAlign="center center">
          <div style="margin-top:50px;">
            <div><mat-icon style="height:148px; width:148px; font-size:148px; color:cornflowerblue;">thumb_up</mat-icon></div>
            <h1 style="font-weight:300; font-size:48px;">Thank You!</h1>
            <a [routerLink]="['/responses']" style="border-radius:50px; border:1px solid cornflowerblue;" mat-stroked-button routerLink=".">View responses</a>
          </div>

        </div> 

        <div *ngIf="!thankYou" class="survey-container">



          <h4 class="section-title">Question</h4>
          <p class="welcome-text right">{{question}}</p>
          <div style="text-align:left;">
            <a [routerLink]="['/responses']" class="click-here">Click here to see what other people are saying</a>
          </div>
          <form (ngSubmit)="onSubmit(form.value)" fxLayout="column" [formGroup]="form" autocomplete="off">
            <textarea formControlName="answer" rows="9"></textarea>

            <button type="submit" value="submit" style="margin-top:20px; margin-bottom:40px;" mat-raised-button color="primary" [disabled]="!form.valid">Send</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>