<div class="container" fxLayoutAlign="center start">
  <div class="page">


    <div class="header">
      <img width="70" src="/assets/SVG/Asset 3.svg" alt="">
      <h2 class="title-text">inhaus</h2>
      <h3 class="tag-line">Simple property management for busy landlords and their tenants.</h3>
      <p ngClass.xs="launch-text-xs" class="launch-text">Survey Responses.</p>
      <p class="response-text">Responses are curated so will normally appear within an hour or two</p>
    </div>
   
      <div fxLayoutAlign="center start" *ngFor="let response of responses">
        <mat-card  *ngIf="response.publish" class="response-card">
          <div style="width:100%;" fxLayout>
            <div fxFlex>
              <p style="margin-top:0px; margin-bottom:4px;">Question</p>
            </div>
            <div>
              <p class="date-text">{{response.dateTime.toDate() | date}}</p>
            </div>

          </div>

          <p class="question-text">{{response.question}}</p>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p style="padding-top:10px; font-size:16px; ">Answer</p>
            <p class="answer-text">{{response.answer}}</p>
          </mat-card-content>
        </mat-card>

      </div>
 

  </div>
</div>